html,body{
    margin: 0;
    padding: 0;
    font-size: medium;
    background-color: white ;
    background-size: cover;
    height: 100%;
}
.main {
    height: 100%;
    display: flex;
}

.main_left {
    flex: 0.8;
    display: flex;
    flex-direction: column;
}
#video-grid
{
    display: flex;
   /* flex-wrap: wrap;*/
    padding: 2%;
    justify-content: flex-start;
    flex-basis: auto;
    flex-direction: row;
   
}
video{
    height: 40vh;
    width: 95%;
    object-fit: cover;/*The CSS object-fit property is used to specify how an <img> or <video> should be resized to fit its container.
    object-fit: cover;, so when we resize the browser window, the aspect ratio of the images is preserved*/
    
}

.main_video{
    flex-grow: 1;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.main_controls {
    background-color: #1C1E20;
}


.main_controls {
    color: #D2D2D2;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.main__controls__block {
    display: flex;
}

.main__controls__button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
    min-width: 80px;
    cursor: pointer;
}

.main__controls__button:hover {
    background-color: #343434;
    border-radius: 5px;
}

.main__controls__button i {
    font-size: 12px;
}

.main_right {
    display: flex;
    flex-direction: column;
    flex: 0.2;
    background-color: #242324;
    border-left: 1px solid #3D3D42;
}

.main_header {
    padding-top: 5px;
    color: #F5F5F5;
    text-align: center;
    
}

.main_chat_window {
    flex-grow: 1;
    overflow-y: auto;
}

.message{
    color: white;
    list-style: none;
    word-wrap: break-word;
    word-break: break-word;
    margin-right: 7.5%;
}

.main_message_container {
    padding-bottom:5%;
    display: flex;
    border:none;
    width: 75%;
    height: 5%;
}

.main_message_container input {
    flex-grow: 1;
    background-color: transparent;
    border: none;
    color: #F5F5F5;
    font-size: small;
}
.message__content{
    font-size: smaller;
}
.leave_meeting {
    color: #EB534B;
}

.unmute, .stop {
    color: #CC3B33;
}

/*video {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }*/
  .video__name {
    z-index: 2;
    color: white;
    font-size: 100%;
    /*padding: 4px 8px;*/
    border-radius: 4px;
    position: relative;
    
    background: rgba(0, 0, 0, 0.6);
  }
  .video__item{
     
      width: 50%;
  }
  #myDIV{
    visibility: hidden;
    z-index: 2;
    font-size: 150%;
    padding: 4px 8px;
    border-radius: 4px;
    position: relative;
    background: rgba(0, 0, 0, 0.6);
  }


  @media screen and (max-width: 500px) and (min-width:300px) {
    
    html,body{
        background-color: black;
        height: 100%;
    }
    .main {
      height: 200%;

    }
    video{
        height: 105%;
        width: 170%;
        object-fit: cover;/*The CSS object-fit property is used to specify how an <img> or <video> should be resized to fit its container.
        object-fit: cover;, so when we resize the browser window, the aspect ratio of the images is preserved*/
        margin-top: 5%;
    }
    .message{
        color: white;
        list-style: none;
        word-wrap: break-word;
        word-break: break-word;
        margin-right: 7.5%;
        margin-left: -3.5%;
    }
    .message__content{
        font-size: medium;
    }
    #chat_message{
        font-size: large;
    }
    #video-grid
{
    display: grid;
  /* flex-wrap: wrap;
    padding: 2%;
    justify-content: flex-start;
    flex-basis: auto;
    flex-direction: row;
   */
   grid-template-columns: repeat(2, 230px);
   grid-row-gap: 50px;
}
    
  }
 
  @media screen and (max-width: 550px) and (min-width:501px) {
    
    html,body{
        background-color: black;
        height: 100%;
    }
    .main {
      height: 135%;

    }
    video{
        height: 100%;
        width: 180%;
        object-fit: cover;/*The CSS object-fit property is used to specify how an <img> or <video> should be resized to fit its container.
        object-fit: cover;, so when we resize the browser window, the aspect ratio of the images is preserved*/
        margin-top: 5%;
    }
    .message{
        color: white;
        list-style: none;
        word-wrap: break-word;
        word-break: break-word;
        margin-right: 7.5%;
        margin-left: -3.5%;
    }
    .message__content{
        font-size: medium;
    }
    #chat_message{
        font-size: large;
    }
    #video-grid
    {
        display: grid;
       grid-template-columns: repeat(2, 230px);
       grid-row-gap: 50px;
    }
    
  }
  @media screen and (max-width: 299px) and (min-width:200px) {
    
    html,body{
        background-color: black;
        height: 100%;
    }
    .main {
      height: 263%;

    }
    video{
        height: 105%;
        width: 180%;
        object-fit: cover;/*The CSS object-fit property is used to specify how an <img> or <video> should be resized to fit its container.
        object-fit: cover;, so when we resize the browser window, the aspect ratio of the images is preserved*/
        margin-top: 5%;
    }
    .message{
        color: white;
        list-style: none;
        word-wrap: break-word;
        word-break: break-word;
        margin-right: 7.5%;
        margin-left: -3.5%;
    }
    .message__content{
        font-size: medium;
    }
    #chat_message{
        font-size: large;
    }
    #video-grid
{
    display: grid;
  /* flex-wrap: wrap;
    padding: 2%;
    justify-content: flex-start;
    flex-basis: auto;
    flex-direction: row;
   */
   grid-template-columns: repeat(2, 200px);
   grid-row-gap: 50px;
}
    
  }
 
